**/bin/
**/obj/
**/publish/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/TestResults/
**/.git/
**/.gitignore
**/Dockerfile*
**/.dockerignore
**/coverage/
**/node_modules/
**/*.log
**/*.tmp
**/appsettings.Local.json
**/Properties/launchSettings.json
